.article {
  margin: 5rem 0;

  .article-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .article-title {
      @media (max-width: 768px) {
        margin-top: 2rem;
      }

      h2 {
        color: #5e5f5e;
      }
    }

    .article-text {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      p {
        font-family: mainBlack;
      }
    }
  }

  .article-img {
    height: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      @media (max-width: 992px) {
        height: 100%;
      }
    }
  }
}
.black-background {
  color: white;
  display: flex;
  justify-content: center;
  height: 400px;
  background-color: black;
  .black-background-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    text-align: center;
    margin: 2rem auto;
    @media (max-width: 992px) {
      width: 100%;
    }
    p {
      font-size: 1.1rem;
    }
  }
}
.background-img {
  position: relative;
  min-height: 500px;
  @media (max-width: 768px) {
    min-height: 700px;
  }
  @media (max-width: 568px) {
    min-height: 800px;
  }
  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  &::before {
    position: absolute;
    content: '';
    inset: 0;
    background: black;
    opacity: 0.7;
    z-index: 2;
  }
  .background-img-content {
    width: 90%;
    padding: 5rem;
    @media (max-width: 768px) {
      padding: 2rem;
    }
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    color: white;
    position: absolute;
    z-index: 3;
    a {
      font-family: mainBold;
      text-align: center;
      width: 200px;
      color: black;
      background-color: white;
      align-self: flex-end;
      text-decoration: none;
      padding: .5rem;
    }
  }
}