.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 992px) {
    margin-bottom: 1rem;
  }
  &:hover {
    border: 1px solid black;
  }
  .card-img {
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .card-link {
    text-align: center;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    align-self: flex-start;
    width: 45%;
    background-color: #5e5f5e;
    padding: .5rem;
    @media (max-width: 768px) {
      align-self: center;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
  .card-text {
    padding: 1.5rem;
  }
  .card-intro {
    padding: 1.5rem;
    h3 {
      font-size: 1.1rem;
    }
  }
}
.negative-margin-top {
  margin-top: -10.5rem;
}