@font-face {
  font-family: main;
  src: url("/assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: mainBold;
  src: url("/assets/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: mainItalic;
  src: url("/assets/fonts/Roboto-Italic.ttf");
}
@font-face {
  font-family: mainLight;
  src: url("/assets/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: mainBlack;
  src: url("/assets/fonts/Roboto-Black.ttf");
}

