.article {
  margin: 5rem 0;
}
.article .article-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 768px) {
  .article .article-content .article-title {
    margin-top: 2rem;
  }
}
.article .article-content .article-title h2 {
  color: #5e5f5e;
}
.article .article-content .article-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.article .article-content .article-text p {
  font-family: mainBlack;
}
.article .article-img {
  height: 100%;
}
.article .article-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 992px) {
  .article .article-img img {
    height: 100%;
  }
}

.black-background {
  color: white;
  display: flex;
  justify-content: center;
  height: 400px;
  background-color: black;
}
.black-background .black-background-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  text-align: center;
  margin: 2rem auto;
}
@media (max-width: 992px) {
  .black-background .black-background-text {
    width: 100%;
  }
}
.black-background .black-background-text p {
  font-size: 1.1rem;
}

.background-img {
  position: relative;
  min-height: 500px;
}
@media (max-width: 768px) {
  .background-img {
    min-height: 700px;
  }
}
@media (max-width: 568px) {
  .background-img {
    min-height: 800px;
  }
}
.background-img img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.background-img::before {
  position: absolute;
  content: "";
  inset: 0;
  background: black;
  opacity: 0.7;
  z-index: 2;
}
.background-img .background-img-content {
  width: 90%;
  padding: 5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  color: white;
  position: absolute;
  z-index: 3;
}
@media (max-width: 768px) {
  .background-img .background-img-content {
    padding: 2rem;
  }
}
.background-img .background-img-content a {
  font-family: mainBold;
  text-align: center;
  width: 200px;
  color: black;
  background-color: white;
  align-self: flex-end;
  text-decoration: none;
  padding: 0.5rem;
}

@font-face {
  font-family: main;
  src: url("/assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: mainBold;
  src: url("/assets/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: mainItalic;
  src: url("/assets/fonts/Roboto-Italic.ttf");
}
@font-face {
  font-family: mainLight;
  src: url("/assets/fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: mainBlack;
  src: url("/assets/fonts/Roboto-Black.ttf");
}
p, h1, h2, h3, h4, h5, h6, a, span {
  font-family: main;
  line-height: 1.7rem;
}

h2 {
  font-family: mainBold;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  .card {
    margin-bottom: 1rem;
  }
}
.card:hover {
  border: 1px solid black;
}
.card .card-img img {
  width: 100%;
  object-fit: cover;
}
.card .card-link {
  text-align: center;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  align-self: flex-start;
  width: 45%;
  background-color: #5e5f5e;
  padding: 0.5rem;
}
@media (max-width: 768px) {
  .card .card-link {
    align-self: center;
  }
}
.card .card-link a {
  color: white;
  text-decoration: none;
}
.card .card-text {
  padding: 1.5rem;
}
.card .card-intro {
  padding: 1.5rem;
}
.card .card-intro h3 {
  font-size: 1.1rem;
}

.negative-margin-top {
  margin-top: -10.5rem;
}

/*# sourceMappingURL=index.css.map */
